* {
	box-sizing: border-box;
}

header {
	display: flex;
	flex-wrap: flex-wrap;
	width: 100%;
	max-width: 800px;
}

img {
	max-width: 100%;
}

h2 {
	margin: 5px;
}

.logo {
	width: 20%;
}

.nameplate {
	text-align: right;
	width: 80%;
}

.splash {
	width: 100%;
	margin-bottom: 10px;
}

.splash-image {
	width: 100%;
}

.collection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	text-align: center;
}

.project {
	width: 320px;
	max-width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

footer {
	display: flex;
	justify-content: center;
}

.links {
	text-align: center;
}