* {
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	margin: 15px;
}

header {
	width: 100%;
	justify-content: center;
}

.header_inner {
	display: flex;
	flex-wrap: flex-wrap;
	max-width: 612px;
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 100%;
}

h2 {
	font-size: 2em;
}

#featured-work-header {
	text-align: center;
}

h3 {
	margin: 5px;
}

.logo {
	width: 20%;
}

.nameplate {
	text-align: right;
	width: 80%;
}

.splash {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}

.splash-image {
	width: 100%;
	max-width: 612px;
}

.featured-work {
	text-align: center;
	width: 100%;
}

.collection {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 612px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.project {
	width: 306px;
	max-width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

footer {
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.links {
	text-align: center;
}